<mat-nav-list>
    <div class="profile-card">
         <div class="header">
             <h2>Idriss Nguepi</h2>
             <h4>idrissnguepi@yahoo.fr</h4>
         </div>
         <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Nguepi">
    </div>

    <mat-divider></mat-divider>

   <!-- <h2 matSubheader>Pages</h2> -->

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>home</mat-icon>
        Agent
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        <mat-icon>article</mat-icon>
        Manager
    </a>

    <mat-divider></mat-divider>


 <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>settings</mat-icon>
    Settings
</a>

 <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>exit_to_app</mat-icon>
    Sign out
</a>
</mat-nav-list>

